// Use Compass ('cause it rocks!)
// @import "compass";
@import "../modules/all";
// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Colors.
$primary :        #449D44;
$primary-light :  lighten($primary, 20%);
$primary-dark :   darken($primary, 20%);
$success:         #5cb85c;
$info:            #5bc0de;
$warning:         #f0ad4e;
$danger:          #d9534f;

// Grays.
$gray-darker:           lighten(#000, 13.5%); // #222
$gray-dark:             lighten(#000, 20%);   // #333
$gray:                  lighten(#000, 33.5%); // #555
$gray-light:            lighten(#000, 60%);   // #999
$gray-lighter:          lighten(#000, 93.5%); // #eee

// Font Styling & Sizing.
$font-family-sans-serif :       'Montserrat', Tahoma, Arial, sans-serif;
$font-family-serif :        source-serif-pro, Georgia, 'Times New Roman', Times, serif serif;
$font-family-code  :        source-code-pro, Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;

$base:        14px; // Important To Be 14px For FontAwesome Rendering
$large:       ceil(($base * 1.25)); // ~18px
$xlarge:      ceil(($base * 1.79)); // ~25px
$small:       ceil(($base * 0.85)); // ~12px

$weight-light:      300;
$weight-normal:     400;
$weight-semibold:   600;
$weight-bold:       700;

$h1:          floor(($base * 2.6)); // ~36px
$h2:          floor(($base * 2.15)); // ~30px
$h3:          ceil(($base * 1.7)); // ~24px
$h4:          ceil(($base * 1.25)); // ~18px
$h5:          $base;
$h6:          ceil(($base * 0.85)); // ~12px

// Borders.
$border : 1px solid $gray;
$borderLight : 1px solid $gray-light;
$borderDark : 1px solid $gray-dark;

$carousel-height: 500px;